<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Custom Calendar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <p>
      Learn more from Jami at <a href="https://jamibot.com" target="_blank">jamibot.com</a>
    </p>

    <ion-button (click)="addNewEvent()">Add New Event</ion-button>

    <calendar [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onRangeChanged)="reloadSource(startTime, endTime)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30">
    
</calendar>

  </div>
</ion-content>
